language: generic
before_install:
  - phpenv global 7.1.11 
install:
  - pip install --user awscli
  - pip install --user aws-sam-cli
script:
  - composer install --optimize-autoloader --no-dev
  - composer package
deploy:
  provider: script
  script: composer deploy
  skip_cleanup: true
  on:
    repo: guillermoandrae/andrae-get-posts
env:
  global:
  - AWS_DEFAULT_REGION=us-east-1
  - secure: Kz5C2NLlzAKQTsKuOlMXRU7Cf7qKK1ZlPoFyvN4o6rzD8pknhEakPdDZj1L0h4I3H8Oy+p8neQYXfk8snwJEFp8oiQICj8PtM6jxK+jFVdR2UCM9MPpOHFEAhpwKoQHDYmsAvs2ct5K40qdwYJT3UMOPgeNGSkn3nvB1qSdCCb88AuDYuTFHs8u06a7j4qg1FNf8ruaeGxLeHkARx3M09GtyUEXevx6Y5xMdgSzAwbD4sLsqNcW7S63OpXfKHbCIiydUMrVD43X5zf5BHe94L6rXGs7+M3mvOGAhb24nuGmqdYuLnh40kELJkAUvXfxOTFtkPTQReX6t3lPyhePgFvEpKf9J6K7Pdu7N8k2oJPjbPr+VOHnv7klRnJuESfYgKXKeZXMIJuu2CASJIQX6QZyybZZ5j6Cu7SaDlgi8D5WDslzYJf3IQJmFWjbjzm/tnEcG933GfDEUi7kUSOh4BgMOq7Q9m2H948VbHEd6yIDp9qypJ1SpEezm7GGXg3zqhRGeaFchQbxSp2CXtRgI7O0xk7d1JaNbVsvadhQztCUQttof2rpr5MLxEOfvh0zMVFXjEnBwYQbXe9Wy60LD1zlDJVpYZ0H10mGuqn6Hh0Ndp613vRg4fvnFS6N1z+tpeq29oKXmN8BONrR97VhYva5KHruUBHSX6bZxKDyLZaw=
  - secure: RW85nyjlpnIJe+tDbvy9ym7WhEJGetlSx2JlbfCNwXvOX9eN9V+cAi541FoY9xBy6H7qw77VhPOIJydoCAMbGA/gf4PEtm3kyL8y9DoT+16pRn690Kylo49kG5rhE/OhGoQy/IhUDUWUr/y9q26JkCPQ6lbPR6CnVZ5nohNvK8Je5REiJWmcBAywPyPbGvYlk9BMGusAqyF3nHyg/10V1iC/zGNaEhOjwODv3PypVPh82U5D2fNKRiasFwWfLlEMhKOTz7dfXSmyRj1IgfYgDpWnbbVunEz9j8XEMGO/eZeODAv1sZkIXzpQy3OcgG7lDidz081VKn1WhG1zYzVGH3fUEu8Y6EXRDtEMAfhFVvI6jdJOGNl1K8S2RBsGBSdCCXCFGPtaYFdFC/G9ldrtB/dHAYEs9ysi0106is6NsKhxBwe9J7voxV7mXJJ+i+UdBmdQwMlPG3dKfiZT4S39GZrmVM79CfUibKWBtLNRIo3zZiTlMBuEwPsXgi9b0gWq49xeP2Qi1Vll6tAp6ylR6FOrGmxKoal+PjiHRWP1F97nspQNWQqIT1jKuHQxIrLcKqfMrErhhq2qoJXf8anlbNAUI93BjutMQM8g+fJsnaubhvV7HuynOHtBzeuIsDK50Lgb6rDtZaD/JLnws/uMNx9jn6ol7RMtq0YSxj3aloY=
